

//***COLORS***
//Background Color:
$bgColor: #2F4355;
//Secondary color
$secondaryColor: #FFFFFF;
//Accent Color:
$accentColor: #597E32;

//***FONTS***




//***FONT-SIZES***
$small: 1rem;
$medium: 1.5rem;
$large: 2rem;